@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Oswald&display=swap");

.about {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background: lightslategray;
}

.about-img {
	background-image: url("../Images/Mehdi2.JPEG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30vh;
	height: 100vh;
	width: 100vh;
}

.heading {
	text-align: center;
	font-size: 4.5rem;
}

.about-content h2 {
	text-align: left;
	line-height: 1.2;
}

.about-content h3 {
	font-size: 2.6rem;
}

.about-content p {
	font-size: 1.6rem;
	margin: 2rem 0 3rem;
}

.button {
	display: inline-block;
	padding: 1rem 2.8rem;
	background: white;
	border-radius: 4rem;
	box-shadow: 0 0 1rem white;
	font-size: 1.5;
	color: black;
	letter-spacing: 0.1rem;
	font-weight: 600;
	transition: 0.3s ease;
}

.button:hover {
	box-shadow: none;
}

footer {
	background: rgba(0, 0, 0, 0.1);
	color: #fff;
	text-align: center;
	padding: 1em 0;
	position: fixed;
	bottom: 0;
	width: 100%;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: cornflowerblue;
}

.about-me-section {
	text-align: center;
	padding: 50px;
}

.about-me-section img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	margin: 20px;
}
